
header{
    background-color: #B0C4DE;
    height: 150px;
    width: 100%;
	
}
img{
	height: 70px;
	border-radius: 50%;
}
h2{
	text-align: center;
	font-size: 18px;
	font-family: Montserrat; 
   
}

h3{
	text-align: center;
	font-size: 15px;
	font-family: Montserrat; 

}

.frameblock{
   border: 3px solid black;

}
.sl{
	font-family: Montserrat;
	font-size: 30px;
	background-color: #B0C4DE;
	margin-top: 10px;
  border-radius: 2%;
}

.text{
	text-align: left;
}

.text1{
	float: left;
	height: 60px;
}
.text2{

	width: 30%;
	display: inline-block;
	text-align: center;
	margin-left: 40%;
	margin-top: 15px;
	margin-bottom: 15px;
}